[Unit]
Description=Collect GPU stats
After=network.target

[Service]
ExecStart=python -u /usr/bin/ksysguard-gpu.zip
Restart=on-failure

[Install]
WantedBy=default.target 
